accelerate
altgraph
anyio
appdirs
apt-xapian-index
apturl
argon2
arrow
asgiref
asttokens
astunparse
async-lru
attrs
Automat
Babel
backcall
bcrypt
beautifulsoup4
beniget
bleach
blinker
Brlapi
Brotli
cachetools
certifi
cffi
charset-normalizer
click
comm
constantly
contourpy
cryptography
cssselect
cycler
debugpy
decorator
defusedxml
Django
exceptiongroup
executing
fastjsonschema
filelock
Flask
flatbuffers
fonttools
fqdn
fsspec
gast
gensim
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
hyperlink
idna
incremental
ipykernel
ipython
ipywidgets
isoduration
itemadapter
itemloaders
itsdangerous
jedi
Jinja2
jmespath
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab-widgets
jupyter-lsp
jupyter_server
jupyter_server_terminals
keras
kiwisolver
libclang
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
ml-dtypes
MouseInfo
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
opencv-python
opt-einsum
overrides
packaging
paho-mqtt
pandas
pandocfilters
parsel
parso
pexpect
Pillow
platformdirs
prometheus-client
prompt-toolkit
Protego
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
PyAudio
PyAutoGUI
pycparser
PyDispatcher
PyGetWindow
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
pyOpenSSL
pyparsing
pyperclip
PyQt5
PyQt5-Qt5
PyQt5-sip
PyRect
PyScreeze
python3-xlib
python-dateutil
python-dotenv
python-json-logger
pytweening
pytz
PyYAML
pyzmq
qtconsole
QtPy
queuelib
referencing
regex
requests
requests-file
requests-oauthlib
rfc3339-validator
rfc3986-validator
rpds-py
rsa
safetensors
scapy
scikit-learn
scipy
Scrapy
seaborn
Send2Trash
service-identity
six
sniffio
soupsieve
spacy
SpeechRecognition
sqlparse
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tinycss2
tldextract

